/*Universal styles*/
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  /*Body has a default margin - set to 0 to avoid gap at the top of the header*/
  margin: 0px;
}

h2, h3, h4 {
  margin: 0;
  padding: 10px;
}

a {
  color: seashell;
  text-decoration: underline;
}

/* Header section*/

header {
  /*Set header as flex container, and center-justify flex items along cross axis*/
  display: flex;
  align-items: center;
  /*Fix the header, bring to front, extend to full width & set height, background colour and border*/
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
}

/*Set logo box as flex container, center-justify flex items along cross axis and set LHS padding*/
.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 10px;
}

/*Set height of logo and RHS margin*/
.logo img {
  height: 50px;
  margin-right: 10px;
}

/*Set nav menu RHS padding*/
header nav {
  padding-right: 20px;
}

/*Set padding for nav menu items, and display inline-block*/
nav span {
  display: inline-block;
  padding: 20px 10px;
}

/*Mission section*/

/*Background image with centre-justified text strip*/
.photobox {
  /*Set photobox as flex container, column direction, and center-justify flex items along cross axis*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*Set height and width of photobox*/
  height: 700px;
  width: 1200px;
  text-align: center;
  /*Set background image*/
  background-image: url("../images/img-mission-background.jpg");
  /*Centralise flex container*/
  margin: 0 auto;
}

/*Black background stripe*/
.stripe {
  background-color: black;
  width: 100%
}

/*Features section*/

/*Titlebox - image and title*/
.titlebox {
  display: block;
  padding: 5px;
}

.titlebox span {
  padding: 5px;
  font-weight: bold;
}

.titlebox img {
  margin: 10px;
  height: 200px;
  display: block;
}

/*Featurebox - flex container with titlebox flex items*/
.featurebox {
  /*Set featurebox as flex container, center-justify flex items along cross axis, wrap content and align to start*/
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
}

/*Features - containing section for featurebox flex container*/
.features {
  width: 1000px;
  height: 700px;
  /*Centralise box*/
  margin: auto;
  padding-top: 70px;
}

/*Locations section*/

/*Box with a background image*/
.background-box {
  background-image: url("../images/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  padding-top: 70px;
  margin: 0 auto;
}

.flexbox-locations {
  /*Set flexbox-locations as flex container, and center-justify flex items along cross axis*/
  display: flex;
  justify-content: center;
  width: 1100px;
  /*Centralise flex container*/
  margin: 0 auto;
}

.location {
  /*Set location as flex container, column direction, and center-justify flex items along cross axis*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*Set initial size of element*/
  flex-basis: 300px;
  opacity: 1;
  background-color: black;
  padding: 10px;
  margin: 5px 20px;
}

/*Footer section*/
.info {
  height: 200px;
}

.copyright {
  text-align: left;
  padding-left: 20px;
}
