body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

a {
  color: seashell;
  text-decoration: underline;
}

/* Header section*/
header {
  /*Set header as flex container, and center-justify flex items along cross axis*/
  display: flex;
  align-items: center;
  /*Fix the header, bring to front, extend to full width & set height, background colour and border*/
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
}

/*Set logo box as flex container, center-justify flex items along cross axis and set LHS padding*/
.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 10px;
}

/*Set height of logo and RHS margin*/
.logo img {
  height: 50px;
  margin-right: 10px;
}

/*Set nav menu RHS padding*/
header nav {
  padding-right: 20px;
}

/*Set padding for nav menu items, and display inline-block*/
nav span {
  display: inline-block;
  padding: 20px 10px;
}

/*Photobox section*/
.photobox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 700px;
  width: 1200px;
  text-align: center;
  background-image: url("../images/img-mission-background.jpg");
  /*Centralise flex container*/
  margin: 0 auto;
}

.stripe {
  background-color: black;
  width: 100%
}

/*Titled box section*/
.titlebox {
  display: block;
  width: 300px;
  padding: 10px;
}

.titlebox span {
  padding: 5px;
}

.titlebox img {
  margin: 10px;
  width: 300px;
  height: 200px;
}

/*Feature section*/
.featurebox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1000px;
  /*Centralise flex container*/
  margin: 0 auto;
}
